/*
	Gutenberg Skeleton CSS
	Description: Adds a page template, allowing a full-page gutenberg layout
	Version: 2
	Author: Samantha Lavelle
    Requires at least: 5.0
    Tested up to: 5.8
    Requires PHP: 7.0
*/


/* ----- VARIABLES ----- */
.template-full-width-gutenberg {
    
    --width-wide: 90rem; /*16px base == 1440px*/
    --width-default: 60rem; /*16px base == 960px*/

}


/* -- SPACING --  @link https://utopia.fyi/space/calculator?c=320,10,1.125,1140,20,1.2,8,1,&s=0.5,2|3|4|5|6|8,s-l */

.template-full-width-gutenberg {
    --fluid-min-width: 320;
    --fluid-max-width: 1140;
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1140px) {
    .template-full-width-gutenberg {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

.template-full-width-gutenberg {
    --fc-xs-min: var(--fc-s-min) * 0.5;
    --fc-xs-max: var(--fc-s-max) * 0.5;
    --fc-s-min: var(--f-0-min, 10);
    --fc-s-max: var(--f-0-max, 20);
    --fc-m-min: var(--fc-s-min) * 2;
    --fc-m-max: var(--fc-s-max) * 2;
    --fc-l-min: var(--fc-s-min) * 3;
    --fc-l-max: var(--fc-s-max) * 3;
    --fc-xl-min: var(--fc-s-min) * 4;
    --fc-xl-max: var(--fc-s-max) * 4;
    --fc-2xl-min: var(--fc-s-min) * 5;
    --fc-2xl-max: var(--fc-s-max) * 5;
    --fc-3xl-min: var(--fc-s-min) * 6;
    --fc-3xl-max: var(--fc-s-max) * 6;
    --fc-4xl-min: var(--fc-s-min) * 8;
    --fc-4xl-max: var(--fc-s-max) * 8;

    /* T-shirt sizes */
    --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-a: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp)); /*20px*/
    --space-b: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp)); /*40px*/
    --space-c: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp)); /*60px*/
    --space-d: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp)); /*80px*/
    --space-e: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)); /*100px*/
    --space-f: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp)); /*120px*/
    --space-g: calc(((var(--fc-4xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-4xl-min)) * var(--fluid-bp)); /*160px*/

    --space--a: calc(var(--space-a) * -1);
    --space--b: calc(var(--space-b) * -1);
    --space--c: calc(var(--space-c) * -1);
    --space--d: calc(var(--space-d) * -1);

}
/*-- UNIVERSAL SPACING --*/
.template-full-width-gutenberg{
    /*left & right spacing*/
    --space-gutter: var(--space-b); /* space between edge and content */
    --space-gap: var(--space-b); /* space between columns/cards, logo ticker */
    --space-gap-small: var(--space-xs); /* applied to gallery images, accordions, form fields, tabbed content */
    --space-panel-padding-lr: var(--space-b); /* left and right padding for panels and cards */

    /*top & bottom spacing*/
    --space-margin-tb: var(--space-g); /* between elements */
    --space-padding-tb: var(--space-g); /* within elements with background colours */
    --space-panel-padding-tb: var(--space-b); /* top and bottom padding for panels and cards */

}



/* ----- ELEMENTS ----- */
.template-full-width-gutenberg h1, .template-full-width-gutenberg h2, .template-full-width-gutenberg h3, .template-full-width-gutenberg h4, .template-full-width-gutenberg h5, .template-full-width-gutenberg h6 {
	margin-top: 0;
	margin-bottom: 0;

}
.template-full-width-gutenberg p, 
.template-full-width-gutenberg li,
.template-full-width-gutenberg input,
.template-full-width-gutenberg textarea,
.template-full-width-gutenberg blockquote,
.template-full-width-gutenberg ul,
.template-full-width-gutenberg ol {
	margin-top: 0;
	margin-bottom: 0;
}

:is(.template-full-width-gutenberg h1, .template-full-width-gutenberg h2, .template-full-width-gutenberg h3, .template-full-width-gutenberg h4, .template-full-width-gutenberg h5, .template-full-width-gutenberg h6) + :is(h1, h2, h3, h4, h5, h6), li + li {
	margin-top: var(--space-xs);
}
:is(.template-full-width-gutenberg h1, .template-full-width-gutenberg h2, .template-full-width-gutenberg h3, .template-full-width-gutenberg h4, .template-full-width-gutenberg h5, .template-full-width-gutenberg h6) + :is(p, ul, ol, .wp-block-quote, .wp-block-buttons),
:is(.template-full-width-gutenberg p, .template-full-width-gutenberg ul, .template-full-width-gutenberg ol, .wp-block-quote, .wp-block-buttons) + :is(p, ul, ol, .wp-block-quote, .wp-block-buttons) {
	margin-top: var(--space-b);
}
:is(.template-full-width-gutenberg p, .template-full-width-gutenberg ul,.template-full-width-gutenberg ol, .wp-block-quote, .wp-block-buttons) + :is(h1, h2, h3, h4, h5, h6) {
	margin-top: var(--space-c);
}
.template-full-width-gutenberg blockquote p {
	margin-bottom: var(--space-a);
}
.template-full-width-gutenberg ul,
.template-full-width-gutenberg ol {
	padding-left: 20px;
}

.template-full-width-gutenberg img {
	max-width: 100%;
	height: auto;
}
/* -- BUTTONS -- */
.wp-block-buttons {
	column-gap: var(--space-a);
	row-gap: var(--space-gap);
}
.wp-block-buttons>.wp-block-button {
	margin: 0;
}


/* ----- LAYOUTS ----- */
body{
    margin: 0;
}
.container--fullwidth{
    width: 100%;
    margin: 0;
    display: block;
}
.container--with-sidebar{
    width: 100%;
    max-width: var(--width-wide);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: var(--space-gutter) 0;
    gap:  var(--space-gutter);
    --space-margin-tb: var(--space-c);
    --space-padding-tb: var(--space-c);
}

.container--narrow{
    max-width: var(--width-default);
    margin: var(--space-margin-tb) auto;

}
@media(max-width: 1024px){
    .container--with-sidebar{
        grid-template-columns: 1fr;
    }
    .container--aside{
        padding: 0 var(--space-gutter);
        max-width: 500px;
    }
}


/* -- gutenberg overrides -- */
/*-- widths &  left/right padding & margins --*/
    
.container--main.container--fullwidth > *:not(.alignfull):not(.alignwide):not(div){ /*default width*/
    width: 100%;
    max-width: var(--width-default);

}
.container--main.container--fullwidth > *:not(.alignfull):not(.alignwide):not(div):not(.text-align-center),
.container--main.container--fullwidth > .wp-block-buttons:not(.alignfull):not(.alignwide){
    margin-left: calc((100% - var(--width-wide)) / 2);
    margin-right: 0;
}
@media(max-width: 90rem)/*wide width*/{
    .container--main.container--fullwidth > *:not(.alignfull):not(.alignwide):not(div):not(.text-align-center),
    .container--main.container--fullwidth > .wp-block-buttons:not(.alignfull):not(.alignwide){
        margin-left: 0;
        margin-right: 0;
    }
}

.alignwide, .container--main > div:not(.alignfull):not(.alignwide){
    width: 100%;
    max-width: var(--width-wide);
    margin-left: auto;
    margin-right: auto;
}
.alignfull{
    width: 100%;
    max-width: 100%;
}
/* bring edges of top level default width content with background inline with text of content with no background*/
.container--main > .has-background:not(.alignfull):not(.alignwide){  
    max-width: calc(var(--width-default) - (var(--space-gutter) * 2)); 
}
/*bring wide/default columns within covers or groups in from the edges
    -- done this way to avoid double padding the sides-- */
.container--main > div > div > .wp-block-columns:not(.alignfull):not(.alignwide) {
    max-width: calc(var(--width-default) - (var(--space-gutter) * 2)); 
    padding-left: 0;
    padding-right: 0;
}
.container--main > div > div > .wp-block-columns.alignwide {
    max-width: calc(var(--width-wide) - (var(--space-gutter) * 2)); 
    padding-left: 0;
    padding-right: 0;
}
/*create space between alignwide & default divs with backgrounds and edge of screen*/
.container--main > .has-background:not(.alignfull),
.container--main > .wp-block-cover:not(.alignfull){
    width: calc(100% - (var(--space-gutter) * 2));
}
/*center content which is not full width*/
.container--main > .alignwide,
.container--main > *:not(.alignfull):not(.alignwide),
.container--main > div > div > .wp-block-group, /*groups within covers or groups*/
.container--main > div > div > .wp-block-columns /*columns within covers or groups*/{
    margin-left: auto;
    margin-right: auto
}

/*adjustment for layout with sidebar*/
/* bring edges of top level default width content with background inline with text of content with no background*/
.container--with-sidebar .container--main > .alignfull.has-background, 
.container--with-sidebar .container--main > .alignfull.wp-block-cover{
    width: calc(100% - (var(--space-gutter) * 2));
    margin-left: auto;
    margin-right: auto;
}

/*bring all top level content in from the edges*/
.container--main > *,
.container--main > .wp-block-group.has-background /* specificity required to override default gutenberg*/
{
    padding-left: var(--space-gutter);
    padding-right: var(--space-gutter);
}

/*top level ELEMENTS */
/*bring li discs inline with rest of text*/
.container--main > ul,
.container--main > ol{
    padding-left: calc(var(--space-gutter) + var(--space-a))!important;
}
/*bring DEFAULT blockquote in line with rest of text*/
.container--main > .wp-block-quote{
    max-width: calc(var(--width-default) - var(--space-gutter) * 2)!important;
}
.container--main > .wp-block-quote.alignwide{
    max-width: calc(var(--width-wide) - var(--space-gutter) * 2)!important;
    
}
.container--main > .wp-block-quote.alignfull{
    max-width: calc(100% - var(--space-gutter) * 2)!important;
}
@media(max-width: 90rem){
    .container--main > .wp-block-quote.alignwide{
        max-width: calc(100% - var(--space-gutter) * 2)!important;
    }
}
@media(max-width: 60rem){
    .container--main > .wp-block-quote{
        max-width: calc(100% - var(--space-gutter) * 2)!important;
    }
}

/* -- covers -- */
 /* if content position is set, the left & right alignments sit within the max content range*/
.container--main > .wp-block-cover.alignfull.has-custom-content-position{
    padding-left: calc((100% - var(--width-wide)) / 2 + var(--space-gutter)); 
    padding-right: calc((100% - var(--width-wide)) / 2 + var(--space-gutter)); 
}
@media(max-width: 90em){
    .container--main > .wp-block-cover.alignfull.has-custom-content-position{
        padding-left: var(--space-gutter); 
        padding-right: var(--space-gutter); 
    }
}
/*center the child content if there is no set position */
.container--main> .wp-block-cover.alignfull:not(.has-custom-content-position)  > .wp-block-cover__inner-container{
    margin-left: auto;
    margin-right: auto;
}

.container--main > .wp-block-cover.alignfull:not(.has-custom-content-position) > .wp-block-cover__inner-container > *.has-text-align-center:not(div){
    margin-left: auto;
    margin-right: auto;
}

/* -- groups -- */

/*sets edge of colour block in line with width of text of other blocks*/
.wp-block-group.has-background:not(.alignfull):not(.alignwide),
.wp-block-cover.alignfull .wp-block-cover__inner-container > .wp-block-group.has-background:not(.alignfull):not(.alignwide){
    max-width: calc(var(--width-default) - var(--space-gutter) * 2);  
}
.wp-block-group.alignwide.has-background{
    max-width: calc(var(--width-wide) - var(--space-gutter) * 2); 
}

/*pad non-top-level groups with background colours (colour panels)*/
.container--main div .wp-block-group.has-background{
    padding-left: var(--space-panel-padding-lr); 
    padding-right: var(--space-panel-padding-lr);
}

.container--main> .wp-block-group.alignfull .wp-block-group__inner-container > *.has-text-align-center:not(div){
    margin-left: auto;
    margin-right: auto;
}

/* if cover or group is fullwidth, bring second level text content into default width*/
.container--main > .wp-block-cover.alignfull:not(.has-custom-content-position) > .wp-block-cover__inner-container > *:not(div),
.container--main> .wp-block-group.alignfull .wp-block-group__inner-container > *:not(div){
    max-width: var(--width-default); 
    margin-left: calc((100% - var(--width-wide) )  / 2  );
    margin-right: 0;
    padding-left: var(--space-gutter);
    padding-right: var(--space-gutter);
}
.container--main > .wp-block-cover.alignfull:not(.has-custom-content-position) > .wp-block-cover__inner-container > ul,
.container--main> .wp-block-group.alignfull .wp-block-group__inner-container > ul{
    padding-left: calc(var(--space-gutter) + 20px);
}
.container--main > .wp-block-cover.alignfull:not(.has-custom-content-position) > .wp-block-cover__inner-container > ul,
.container--main> .wp-block-group.alignfull .wp-block-group__inner-container > ul.custom-icon{
    padding-left: var(--space-gutter);
}
@media(max-width: 90rem){
    .container--main > .wp-block-cover.alignfull:not(.has-custom-content-position) > .wp-block-cover__inner-container > *:not(div),
    .container--main> .wp-block-group.alignfull .wp-block-group__inner-container > *:not(div){
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .container--main > .wp-block-cover.alignfull:not(.has-custom-content-position) > .wp-block-cover__inner-container > ul,
    .container--main> .wp-block-group.alignfull .wp-block-group__inner-container > ul{
        padding-left: 20px;
    }
}

/* -- columns -- */
/* -- overrides default gutenberg method of setting gaps between columns (margin-lefting columns)*/
.wp-block-columns{
    gap: var(--space-gap); 
}
.container--main > .wp-block-columns
{
    padding-left: var(--space-gutter);
    padding-right: var(--space-gutter);
}

/*no-gap columns for full-colour panels (50/50 colour panels)*/
.wp-block-columns.no-gap{ 
    gap: 0; 
    padding-left: 0;
    padding-right: 0;
}
/* -- overrides default gutenberg method of setting gaps between columns (margin-lefting columns)*/
.wp-block-column{
    margin-left: 0!important; }
/* -- add inner padding to columns with bgs (cards/panels) -- */
.wp-block-column.has-background{
    padding-left: var(--space-panel-padding-lr);
    padding-right: var(--space-panel-padding-lr)
}
/*limit width of text content to within the 'wide' content area if there are only 2 columns (e.g. for 50/50 coloured panels)*/
.wp-block-columns.alignfull > .wp-block-column.has-background:first-child:nth-last-child(2) > *,
.wp-block-columns.alignfull > .wp-block-column.has-background:nth-child(2):last-child > *{
    max-width: calc(var(--width-wide) / 2 - var(--space-gutter) * 2);
    margin-left: auto;
} 
.wp-block-columns.alignfull > .wp-block-column.has-background:nth-child(2):last-child > *{
    margin-left: 0
}

/* -- media & text -- */
.wp-block-media-text{
    gap: var(--space-gap);
}
/*sets edge of colour block in line with width of text of other blocks*/
.wp-block-media-text:not(.alignwide):not(.alignfull).has-background{
    max-width: calc(var(--width-default) - var(--space-gutter) * 2); 
}
.wp-block-media-text.alignwide.has-background{
    max-width: calc(var(--width-wide) - var(--space-gutter) * 2); 
}
.wp-block-media-text .wp-block-media-text__content{
    padding-left: 0;
    padding-right: 0; /*right padding is set on parent media-text-block for wide and default blocks*/
}

/*remove sidegutter to allow image to reach the edge*/
.wp-block-media-text.alignfull{
    padding-left: 0;
    padding-right: 0;
    gap: 0
}
.wp-block-media-text.alignfull .wp-block-media-text__content{
    padding-left: var(--space-gutter); 
    padding-right: var(--space-gutter)
}

/*limit width of text content to within the 'wide' content area (alignment fix for full bleed 50/50 image and text)  */
.wp-block-media-text .wp-block-media-text__content > *{
    max-width: calc(var(--width-wide) / 2 - var(--space-gutter) * 2);
    margin-left: 0
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content > *{
    margin-left: auto;
}

/*-- GALLERY -- */
.blocks-gallery-grid{
    gap: var(--gallery-gap);
}
.wp-block-gallery.alignfull .blocks-gallery-grid{
    padding-left: var(--gallery-gap);
    padding-right: var(--gallery-gap);
}

/*--separator--*/
/*amend separator width to account for gutter*/
.wp-block-separator{
    width: calc(100% - var(--space-gutter) * 2);
}

/*-- top/bottom padding & margins --*/
/*set space between top level divs (specificity required to override gutenberg default styles)*/
.container--main > div:not(.wp-block-buttons),
.container--main > .wp-block-group.has-background,
.container--main > .wp-block-cover,
.container--main > figure{
    margin-top: var(--space-margin-tb);
    margin-bottom: var(--space-margin-tb);
}
.container--main > div:first-child{
    margin-top: 0;
}
.container--main > div:last-child{
    margin-bottom: var(--space-margin-tb);
}

/*nullify spacing between full width blocks with background colours*/
.container--main > :is(div.has-background.alignfull, .wp-block-cover.alignfull, .wp-block-columns.alignfull:not(.cards), .wp-block-gallery.alignfull) + :is(div.has-background.alignfull, .wp-block-cover.alignfull, .wp-block-columns.alignfull:not(.cards), .wp-block-gallery.alignfull){
    margin-top: calc(var(--space-margin-tb) * -1);
}

/*headings followed by divs/figures */
:is(h2, h3, h4, h5, h6, p, ul, ol, .wp-block-quote, .wp-block-buttons) + figure,
:is(h2, h3, h4, h5, h6, p, ul, ol, .wp-block-quote, .wp-block-buttons)  + div:not(.wp-block-buttons) {
    margin-top: var(--space-b);
}

/*override any gutenberg default padding*/
.container--main > div{
    padding-top: 0;
    padding-bottom: 0;
} 
.wp-block-group.has-background{
    padding-top: var(--space-panel-padding-tb);
    padding-bottom: var(--space-panel-padding-tb);
}

/*add padding top level divs with a background equivalent to usual margin spacing between blocks*/
.container--main > .has-background,
.container--main > .wp-block-cover
{
    padding-top: var(--space-padding-tb);
    padding-bottom: var(--space-padding-tb);
}
/* -- media & text -- */
.wp-block-media-text.has-background {
    padding-top: var(--space-panel-padding-tb); 
    padding-bottom: var(--space-panel-padding-tb); 
}
/*remove padding from top of full width media-text parent block width background, add it to the text element instead*/
.wp-block-media-text.alignfull.has-background {
    padding-top: 0;
    padding-bottom: 0;
}
.container--main > .wp-block-media-text .wp-block-media-text__content{
    padding-top: var(--space-padding-tb);
    padding-bottom: var(--space-padding-tb);
}
.container--main > .wp-block-media-text.alignfull + .wp-block-media-text.alignfull{ /*remove gap between repeated full width media and text blocks with alternating layout*/
    margin-top: calc(var(--space-margin-tb) * -1);
}
.container--main > .wp-block-media-text.has-media-on-the-right + .wp-block-media-text.has-media-on-the-right,
.container--main > .wp-block-media-text:not(.has-media-on-the-right) + .wp-block-media-text:not(.has-media-on-the-right){ /*tighten gap between repeated media and text blocks with media on same side*/
    margin-top: calc(var(--space-margin-tb) * -1 + var(--space-gap));
}


/* -- columns -- */
.wp-block-columns {
    margin-bottom: 0; /*overrides default gutenberg*/
}
.container--main > .wp-block-columns:not(.has-background) + .wp-block-columns:not(.has-background),
.container--main > .wp-block-group.has-background .wp-block-columns:not(.has-background) + .wp-block-columns:not(.has-background){ /*remove gap between repeated columns*/
    margin-top: calc(var(--space-margin-tb) * -1 + var(--space-gap));
}
 /* full bleed colour panels*/
.alignfull > .wp-block-column.has-background{
    padding-top: var(--space-padding-tb);
    padding-bottom: var(--space-padding-tb);
}
/* -- columns with bgs (cards) -- */
.cards .wp-block-column.has-background{
    padding-top: var(--space-panel-padding-tb);
    padding-bottom: var(--space-panel-padding-tb);
}

/*--gallery -- */
.wp-block-gallery.alignfull{
    padding-top: var(--space-gap-small);
    padding-bottom: var(--space-gap-small);
}
.wp-block-gallery.alignfull.slider{
    padding-top: calc(var(--space-gap-small)/2);
    padding-bottom: calc(var(--space-gap-small)/2);
}